# 1. Chuẩn bị dữ liệu

In [36]:
import pandas as pd
df=pd.read_csv('shopeep_koreantop_clothing_shop_data.csv')
df

,pk_shop,date_collected,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,2.020000e+16,2021-06-13,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,2.020000e+16,2021-06-13,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2.020000e+15,2021-06-13,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2.020000e+15,2021-06-13,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2.020000e+15,2021-06-13,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,2.020000e+16,2021-07-06,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,2.020000e+16,2021-07-06,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,2.020000e+16,2021-07-06,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2.020000e+15,2021-07-06,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2.020000e+15,2021-07-06,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

## Lọc tập dữ liệu ban đầu theo các thuộc tính

In [37]:
df=df[['date_collected', 'shop_location', 'response_time']]
df

    date_collected               shop_location response_time
0       2021-06-13                         NaN      10:13:55
1       2021-06-13    San Nicolas,Metro Manila      10:43:05
2       2021-06-13     Pasay City,Metro Manila      08:32:07
3       2021-06-13        Binondo,Metro Manila      09:10:38
4       2021-06-13  Caloocan City,Metro Manila      11:40:59
..             ...                         ...           ...
741     2021-07-06          Legazpi City,Albay      08:45:30
742     2021-07-06                         NaN      08:01:23
743     2021-07-06                         NaN      08:46:30
744     2021-07-06        Binondo,Metro Manila      12:19:44
745     2021-07-06     Pasay City,Metro Manila      10:02:42

[746 rows x 3 columns]

# 2. Tách cột dữ liệu có kiểu chuỗi 
## Tách cột shop_location thành 2 cột District và City

In [38]:
df['District']=df['shop_location'].str.split(',').str[0]
df['City']=df['shop_location'].str.split(',').str[1]
df

C:\Users\admin\AppData\Local\Temp\ipykernel_60900\2322980181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['District']=df['shop_location'].str.split(',').str[0]
C:\Users\admin\AppData\Local\Temp\ipykernel_60900\2322980181.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City']=df['shop_location'].str.split(',').str[1]

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila
...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay
742,2021-07-06,NaN,08:01:23,NaN,NaN
743,2021-07-06,NaN,08:46:30,NaN,NaN
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila

# 3. Tách cột dữ liệu có kiểu ngày tháng
## Tách cột date_collected thành 3 cột Day, Month, Year

In [39]:
df['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
df['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
df['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
df

C:\Users\admin\AppData\Local\Temp\ipykernel_60900\199665320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
C:\Users\admin\AppData\Local\Temp\ipykernel_60900\199665320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
C:\Users\admin\AppData\Local\Temp\ipykernel_60900\199665320.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year

,date_collected,shop_location,response_time,District,City,Day,Month,Year
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021
...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021

# 4. Tách cột dữ liệu có kiểu thời gian
## Tách cột response_time thành 3 cột Hour, Minute, Second

In [40]:
df['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
df['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
df['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second
df

C:\Users\admin\AppData\Local\Temp\ipykernel_60900\310826994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
C:\Users\admin\AppData\Local\Temp\ipykernel_60900\310826994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
C:\Users\admin\AppData\Local\Temp\ipykernel_60900\310826994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second

,date_collected,shop_location,response_time,District,City,Day,Month,Year,Hour,Minute,Second
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021,10,13,55
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021,10,43,5
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021,8,32,7
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021,9,10,38
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021,11,40,59
...,...,...,...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021,8,45,30
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021,8,1,23
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021,8,46,30
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021,12,19,44
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021,10,2,42